.main img{
    width: 60%;
    padding-bottom: 5vw;

}

.main{
    padding-top: 10vw;
    padding-bottom: 10vw;
    padding-left: 5vw;
    padding-right: 5vw;
}


.main h3{
    padding-bottom: 3vw;
}




.main h2{
    padding-bottom: 5vw;
}


.main a{
    
    background-color: #1DB954;
    text-decoration: none;
    border: solid 1px white;
    color: white;
}



@media only screen and (min-width: 600px) {

   
.main{
    padding-top: 1vw;
    padding-bottom: 1vw;
    padding-left: 5vw;
    padding-right: 5vw;
}

.main h2{
    padding-bottom: 2vw;
}
.layoutForDesktop{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
        
}